h11~=0.14.0
pip~=21.2.4
attrs~=23.2.0
wheel~=0.37.0
pillow~=10.2.0
pytz~=2024.1
idna~=3.6
multidict~=6.0.5
exceptiongroup~=1.2.0
sniffio~=1.3.0
httpcore~=1.0.2
certifi~=2024.2.2
croniter~=2.0.1
tzlocal~=5.2
aiocron~=1.8
yarl~=1.9.4
aiohttp~=3.9.3
aiosignal~=1.3.1
frozenlist~=1.4.1
python-dateutil~=2.8.2
six~=1.15.0
anyio~=4.2.0
urllib3~=2.2.0
chardet~=5.2.0
python-telegram-bot~=20.8
APScheduler~=3.10.4
httpx~=0.26.0
requests~=2.31.0
python-dotenv~=1.0.1